<div class="container">
    <div class="heading">
        <h1>Edit book</h1>
    </div>
    <form>
        <div class="grid-container">
            <div class="grid-item">
                <label for="bookTitle">Book Title:</label>
                <input type="text" name="bookTitle">
            </div>
            <div class="grid-item">
                <label for="author">Author:</label>
                <input type="text" name="author">
            </div>
            <div class="grid-item">
                <label for="yearOfIssue">Year of Issue:</label>
                <input type="text" name="yearOfIssue">
            </div>
            <div class="grid-item">
                <label for="image">Image:</label>
                <input type="text" name="image">
            </div>
            <div class="grid-item">
                <label for="genre">Genre:</label>
                <input type="text" name="genre">
            </div>
            <div class="grid-item">
                <label for="nationality">Nationality:</label>
                <input type="text" name="nationality">
            </div>
        </div>
        <div class="button">
            <button>Edit</button>
        </div>
    </form>
</div>