<div class="container">
    <div class="heading">
        <h1>Register</h1>
    </div>
    <form>
        <div class="grid-container">
            <div class="grid-item">
                <label for="email">Email:</label>
                <input type="text" name="email">
            </div>
            <div class="grid-item">
                <label for="password">Password:</label>
                <input type="text" name="password">
            </div>
            <div class="grid-item">
                <label for="rePassword">Repeat password:</label>
                <input type="text" name="rePassword">
            </div>
        </div>
        <div class="button">
            <button>Register</button>
        </div>
    </form>
</div>