.container {
    width: 65vw;
    height: fit-content;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    padding-bottom: 40px;
    opacity: 0.8;
}

.logo {
    font-size: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 70px;
}

.text {
    font-size: 50px;
    margin-top: 50px;
}

@media screen and (max-width: 960px) {
    .logo {
        font-size: 120px;
        margin-bottom: 45px;
        padding-top: 60px;
    }

    .text {
        font-size: 40px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 720px) {
    .logo {
        font-size: 90px;
        margin-bottom: 35px;
        padding-top: 50px;
    }

    .text {
        font-size: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 540px) {
    .logo {
        font-size: 60px;
        margin-bottom: 25px;
        padding-top: 35px;
    }

    .text {
        font-size: 17px;
        margin-top: 15px;
    }
}