<header>
    <div class="logo">
        <a routerLink="/"><img src="../assets/logo.png" alt="book"></a>
    </div>
    <nav class="header-nav">
        <a routerLink="/book/list">Catalog</a>
        <a *ngIf="isLoggedIn" routerLink="/book/new">Add book</a>
        <span>|</span>
        <a *ngIf="!isLoggedIn" routerLink="/auth/login">Login</a>
        <a *ngIf="!isLoggedIn" routerLink="/auth/register">Register</a>
        <a *ngIf="isLoggedIn" routerLink="/auth/logout">Logout</a>
    </nav>
</header>