<div class="container">
    <div class="heading">
        <h1>Book details</h1>
        <p class="back-btn">
            <a routerLink="/book/list">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </p>
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052._SY475_.jpg"
                alt="">
            <p>Title: The Hunger Games</p>
            <p>Author: Suzanne Collins</p>
            <p>Year: 2008</p>
            <p>Genre: Dystopian</p>
            <p>Country: USA</p>
        </div>
    </div>
</div>