<div *ngIf="book" class="container">
    <div class="heading">
        <h1>Book details</h1>
        <p class="back-btn">
            <a routerLink="/book/list">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </p>
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <img src={{book.image}} alt="image">
            <p>Title: {{book.bookTitle}}</p>
            <p>Author: {{book.author}}</p>
            <p>Year: {{book.yearOfIssue}}</p>
            <p>Genre: {{book.genre}}</p>
            <p>Country: {{book.nationality}}</p>
        </div>
    </div>
    <div *ngIf="book._ownerId === userId" class="buttons">
        <a class="edit" href="/book/edit/{{book._id}}">Edit</a>
        <a class="del" href="/book/delete/{{book._id}}">Delete</a>
    </div>
</div>