<div class="container">
    <div class="heading">
        <h1>Login</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="loginHandler()">
        <div class="grid-container">
            <div class="grid-item">
                <label for="email">Email:</label>
                <input type="text" name="email" formControlName="email">
            </div>
            <div class="grid-item">
                <label for="password">Password:</label>
                <input type="text" name="password" formControlName="password">
            </div>
        </div>
        <div class="button">
            <button>Login</button>
        </div>
    </form>
</div>