<div class="container">
    <div class="heading">
        <h1>All books</h1>
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320399351l/1885.jpg"
                alt="">
            <p>Title: {{'Pride and Prejudice' | shorten : 20}}</p>
            <p>Author: {{'Jane Austen' | shorten : 20}}</p>
            <p>Year: {{'2000' | shorten : 20}}</p>
            <a routerLink="/book/details">Details</a>
        </div>
        <div class="flex-item">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1660911061l/2.jpg" alt="">
            <p>Title: {{'Harry Potter and the Order of the Phoenix' | shorten : 20}}</p>
            <p>Author: {{'J.K. Rowling' | shorten : 20}}</p>
            <p>Year: {{'2004' | shorten : 20}}</p>
            <a routerLink="/book/details">Details</a>
        </div>
        <div class="flex-item">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586722975l/2767052._SY475_.jpg"
                alt="">
            <p>Title: {{'The Hunger Games' | shorten : 20}}</p>
            <p>Author: {{'Suzanne Collins' | shorten : 20}}</p>
            <p>Year: {{'2008' | shorten : 20}}</p>
            <a routerLink="/book/details">Details</a>
        </div>
        <div class="flex-item">
            <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1553383690l/2657.jpg"
                alt="">
            <p>Title: {{'To Kill a Mockingbird' | shorten : 20}}</p>
            <p>Author: {{'Harper Lee' | shorten : 20}}</p>
            <p>Year: {{'2006' | shorten : 20}}</p>
            <a routerLink="/book/details">Details</a>
        </div>
    </div>
</div>