<div class="container">
    <div class="heading">
        <h1>All books</h1>
    </div>
    <div class="flex-container">
        <div *ngFor="let book of bookList" class="flex-item">
            <img src={{book.image}} alt="image">
            <p>Title: {{book.bookTitle | shorten : 20}}</p>
            <p>Author: {{book.author | shorten : 20}}</p>
            <p>Year: {{book.yearOfIssue | shorten : 20}}</p>
            <a routerLink="/book/details/{{book._id}}">Details</a>
        </div>
    </div>
</div>